n8n_Worklfows/AiAgent_Gmal_Automation.json
{
  "name": "AiAgent_Gmal_Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        -176
      ],
      "id": "5551006c-d8ac-4573-9603-7c48b2c9434b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        -176
      ],
      "id": "f1755a3f-036e-4591-a093-9d84ef8bcea8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        96
      ],
      "id": "a2635cfc-33fa-478f-8b45-9bfdecc58ed8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oZ8dwbn9oYRia9Re",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        80
      ],
      "id": "85eaf08a-4683-4a7e-9a44-c19026b4f2ad",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -192
      ],
      "id": "9dddeeed-6b25-4e00-b4d0-0f40608ce117",
      "name": "When chat message received",
      "webhookId": "2fdd2792-0bdc-4772-9329-ffe8ff71daa3"
    },
    {
      "parameters": {
        "sendTo": "aiwthraj@gmail.com;rajendrabraj@gmail.com",
        "subject": "N8n- Automation AI Chat Output",
        "emailType": "text",
        "message": "=This email is generated using the N8N Automation workflows\n\nWorkflow is developed by Rajendra Bichu : Aug 2025 \n\n{{ $json.output }}\n\n\nEnjoy\nRajendra Bichu ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        -167.21875
      ],
      "id": "01cb2f35-0761-4ca4-9c23-3a3c6564318c",
      "name": "Send a message",
      "webhookId": "0c320147-f700-4998-967c-e67b837c377a",
      "credentials": {
        "gmailOAuth2": {
          "id": "WGpNTvG6NAw7dILb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent - To - Gmail Automation\n\nQuery from User --AI Output processed -- Send email to Gmail",
        "height": 544,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -336
      ],
      "typeVersion": 1,
      "id": "5da0a1dd-4525-4fc1-9283-e8cd955ba6dd",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8d8a5b52-64a2-4d2d-80bf-6ff2a1c2a49a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1a4b4a7a552979a30d1ddbd1d0cfb28da1812492cfcecc2d5c9adeaab49a193"
  },
  "id": "RZ5CTL6RP7tRS5mE",
  "tags": []
}