MCP/SocialMediaPOST.json
{
  "name": "SocialMediaPOST",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        -32
      ],
      "id": "c002946a-af50-4596-a0b3-3868e82a3eb1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant who creates professional social media content"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        -32
      ],
      "id": "bb40fae8-7cdf-46aa-8c48-79e1d32594ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        176
      ],
      "id": "69fd5474-da74-48b8-bde2-6eb3a0f13629",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "u3FxGxOioXRHekjJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Create a twitter x Post on using AI agents with n8n"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5d1f4f00-1ce5-4540-bb41-d571ded8e422",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ebd46ea679b5bd50efbaefb2c217c7dbe53676489c8280eb78e824e7963b6406"
  },
  "id": "6kof3X_fOBANZSmhRReuL",
  "tags": []
}